@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

*:focus {
    outline: none;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border-style: none;
    max-width: 100%;
}

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

@font-face {
    font-family: 'Lora';
    src: url("../fonts/Lora-Regular.woff2") format("woff2"), url("../fonts/Lora-Regular.woff") format("woff"), url("../fonts/Lora-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    font: 400 1rem/1.5 'Lora',serif;
}

@media (min-width: 1600px) {
    #wrapper {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0 10% !important;
    }
}

#main {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0 !important;
}

div#wrapper {
    padding: 0 !important;
}

div#wrapper div.front_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

div#wrapper div.front_wrapper section.sliders {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

div#wrapper div.front_wrapper section.sliders .slider_left, div#wrapper div.front_wrapper section.sliders .slider_right {
    width: 50%;
    height: 100vh;
}

div#wrapper div.front_wrapper section.sliders .slider_left .slick-list.draggable, div#wrapper div.front_wrapper section.sliders .slider_right .slick-list.draggable {
    width: 100%;
    height: 100vh;
}

div#wrapper div.front_wrapper section.sliders .slider_left .slick-list.draggable div .slick-slide, div#wrapper div.front_wrapper section.sliders .slider_right .slick-list.draggable div .slick-slide {
    height: 100vh !important;
}

div#wrapper div.front_wrapper section.sliders .slider_left .slick-list.draggable div .slick-slide img, div#wrapper div.front_wrapper section.sliders .slider_right .slick-list.draggable div .slick-slide img {
    width: 102% !important;
    height: 100vh !important;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-filter: brightness(92%);
    filter: brightness(92%);
}

div#wrapper div.front_wrapper section.sliders .slider_left .slick-list.draggable div .slick-slide.slick-slide.slick-current.slick-active img, div#wrapper div.front_wrapper section.sliders .slider_right .slick-list.draggable div .slick-slide.slick-slide.slick-current.slick-active img {
    -webkit-animation: slider_scale 8000ms  linear infinite;
    animation: slider_scale 8000ms  linear infinite;
}

@-webkit-keyframes slider_scale {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
}

@keyframes slider_scale {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
}

div#wrapper div.front_wrapper section.front_content .clipboard {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    bottom: 0;
    background-color: #d3d0c9;
    background: url("../images/bg_body.jpg") center/cover;
    z-index: 5;
    width: 25%;
    height: 100%;
    margin: 0 auto;
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    -webkit-filter: brightness(150%) contrast(120%);
    filter: brightness(150%) contrast(120%);
}

div#wrapper div.front_wrapper section.front_content .clipboard > img {
    display: block;
    position: relative;
    width: 170px;
    height: 140px;
    -o-object-fit: contain;
    object-fit: contain;
    margin: 3rem 5rem 5rem;
    -webkit-box-shadow: 0 0 30px 2px #fff;
    box-shadow: 0 0 30px 2px #fff;
    border-radius: 50%;
    padding: 5px;
}

div#wrapper div.front_wrapper div.interactive_studio {
    position: absolute;
    z-index: 5;
    background: rgba(255, 255, 255, 0.5);
    width: 350px;
    height: 450px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    left: -100%;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    -webkit-animation: interactive_studio_move 2s ease-in-out .3s forwards;
    animation: interactive_studio_move 2s ease-in-out .3s forwards;
}

div#wrapper div.front_wrapper div.interactive_studio .interactive_school_inner, div#wrapper div.front_wrapper div.interactive_studio .interactive_studio_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

div#wrapper div.front_wrapper div.interactive_studio .interactive_school_inner a.direction_item, div#wrapper div.front_wrapper div.interactive_studio .interactive_studio_inner a.direction_item {
    display: inline-block;
    position: relative;
    left: -10%;
    text-decoration: none;
    font: bold 1.2rem 'Lora';
    color: #fff;
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

@media (min-width: 1024px) {
    div#wrapper div.front_wrapper div.interactive_studio .interactive_school_inner a.direction_item:hover, div#wrapper div.front_wrapper div.interactive_studio .interactive_studio_inner a.direction_item:hover {
        padding: 3px 10px;
        border-radius: 100px;
        color: #FFE15D;
    }
}

div#wrapper div.front_wrapper div.interactive_studio .interactive_school_inner a.direction_item > p, div#wrapper div.front_wrapper div.interactive_studio .interactive_studio_inner a.direction_item > p {
    display: inline-block;
    line-height: 1;
    text-shadow: -0   -1px 0 #000000,
    0   -1px 0 #000000,
    -0    1px 0 #000000,
    0    1px 0 #000000,
    -1px -0   0 #000000,
    1px -0   0 #000000,
    -1px  0   0 #000000,
    1px  0   0 #000000,
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px  1px 0 #000000,
    1px  1px 0 #000000,
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px  1px 0 #000000,
    1px  1px 0 #000000;
}

div#wrapper div.front_wrapper div.interactive_studio .interactive_school_inner a.direction_item > hr, div#wrapper div.front_wrapper div.interactive_studio .interactive_studio_inner a.direction_item > hr {
    background: #eac15a;
    border: 0;
    height: 2.2px;
    -webkit-box-shadow: 0 0 0 .7px #000;
    box-shadow: 0 0 0 .7px #000;
    margin-top: 5px;
}

@-webkit-keyframes interactive_studio_move {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

@keyframes interactive_studio_move {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

div#wrapper div.front_wrapper div.interactive_school {
    position: absolute;
    z-index: 5;
    background: rgba(255, 255, 255, 0.5);
    width: 350px;
    height: 450px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    right: -100%;
    -webkit-clip-path: polygon(100% 0, 0 50%, 100% 100%);
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    -webkit-animation: interactive_school_move 2s ease-in-out .3s forwards;
    animation: interactive_school_move 2s ease-in-out .3s forwards;
}

div#wrapper div.front_wrapper div.interactive_school .interactive_school_inner, div#wrapper div.front_wrapper div.interactive_school .interactive_studio_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

div#wrapper div.front_wrapper div.interactive_school .interactive_school_inner a.direction_item, div#wrapper div.front_wrapper div.interactive_school .interactive_studio_inner a.direction_item {
    display: inline-block;
    position: relative;
    left: -10%;
    text-decoration: none;
    font: bold 1.2rem 'Lora';
    color: #fff;
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

@media (min-width: 1024px) {
    div#wrapper div.front_wrapper div.interactive_school .interactive_school_inner a.direction_item:hover, div#wrapper div.front_wrapper div.interactive_school .interactive_studio_inner a.direction_item:hover {
        padding: 3px 10px;
        border-radius: 100px;
        color: #FFE15D;
    }
}

div#wrapper div.front_wrapper div.interactive_school .interactive_school_inner a.direction_item > p, div#wrapper div.front_wrapper div.interactive_school .interactive_studio_inner a.direction_item > p {
    display: inline-block;
    line-height: 1;
    text-shadow: -0   -1px 0 #000000,
    0   -1px 0 #000000,
    -0    1px 0 #000000,
    0    1px 0 #000000,
    -1px -0   0 #000000,
    1px -0   0 #000000,
    -1px  0   0 #000000,
    1px  0   0 #000000,
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px  1px 0 #000000,
    1px  1px 0 #000000,
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px  1px 0 #000000,
    1px  1px 0 #000000;
}

div#wrapper div.front_wrapper div.interactive_school .interactive_school_inner a.direction_item > hr, div#wrapper div.front_wrapper div.interactive_school .interactive_studio_inner a.direction_item > hr {
    background: #eac15a;
    border: 0;
    height: 2.2px;
    -webkit-box-shadow: 0 0 0 .7px #000;
    box-shadow: 0 0 0 .7px #000;
    margin-top: 5px;
}

@-webkit-keyframes interactive_school_move {
    from {
        right: -100%;
    }
    to {
        right: 0;
    }
}

@keyframes interactive_school_move {
    from {
        right: -100%;
    }
    to {
        right: 0;
    }
}

div#wrapper div.front_wrapper div.interactive_school .interactive_school_inner a.direction_item {
    position: relative;
    left: 9%;
}

section.front_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

section.front_content > .btn_push_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 38%;
    z-index: 5;
    width: 8.8%;
    height: 36px;
}

section.front_content > .btn_push_wrapper button.push {
    color: #e6e6e6;
    border-radius: 10px;
    padding: 10px 20px;
    font: .9rem 'Lora';
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    -webkit-box-shadow: 0 0 15px 5px #fff;
    box-shadow: 0 0 15px 5px #fff;
    text-shadow: 0   -1px 0 #000000,
    0   -1px 0 #000000,
    0    1px 0 #000000,
    0    1px 0 #000000,
    -1px  0   0 #000000,
    1px  0   0 #000000,
    -1px  0   0 #000000,
    1px  0   0 #000000,
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px  1px 0 #000000,
    1px  1px 0 #000000,
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px  1px 0 #000000,
    1px  1px 0 #000000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    /* Размываем фон */
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid grey;
}

@media (min-width: 1024px) {
    section.front_content > .btn_push_wrapper button.push:hover {
        text-shadow: 0   -.4px 0 #000000,
        0   -.4px 0 #000000,
        0    .4px 0 #000000,
        0    .4px 0 #000000,
        -.4px  0   0 #000000,
        .4px  0   0 #000000,
        -.4px  0   0 #000000,
        .4px  0   0 #000000,
        -.4px -.4px 0 #000000,
        .4px -.4px 0 #000000,
        -.4px  .4px 0 #000000,
        .4px  .4px 0 #000000,
        -.4px -.4px 0 #000000,
        .4px -.4px 0 #000000,
        -.4px  .4px 0 #000000,
        .4px  .4px 0 #000000;
        -webkit-box-shadow: 0 0 15px  #fff inset;
        box-shadow: 0 0 15px  #fff inset;
    }
}

section.front_content > .btn_push_wrapper button.push .small_menu_triangle {
    position: absolute;
    top: -20%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: #e6e6e6 transparent transparent transparent;
    margin: 0 auto;
    z-index: 15;
}

section.front_content > .btn_push_wrapper button.push .btn_cover_text {
    display: none;
    font-size: 1.35rem;
    line-height: .6;
}

section.front_content > .front_nav_menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

section.front_content > .front_nav_menu nav.front_nav_menu_content {
    display: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 47%;
    bottom: 0;
    z-index: 5;
    width: 27%;
    border-radius: 5px;
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    /* Размываем фон */
    background: rgba(225, 225, 225, 0.4);
}

section.front_content > .front_nav_menu nav.front_nav_menu_content > ul {
    padding-bottom: 2rem;
}

@media (min-height: 700px) {
    section.front_content > .front_nav_menu nav.front_nav_menu_content > ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-around;
        -ms-flex-pack: justify;
        justify-content: space-evenly;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
    }
}

section.front_content > .front_nav_menu nav.front_nav_menu_content > ul > li {
    overflow: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

section.front_content > .front_nav_menu nav.front_nav_menu_content > ul > li > a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font: bold 1.27rem 'Lora';
    padding: 10px 10px;
    color: #fff;
    text-shadow: 0   -.4px 0 #000000,
    0   -.4px 0 #000000,
    0    .4px 0 #000000,
    0    .4px 0 #000000,
    -.4px   0   0 #000000,
    .4px   0   0 #000000,
    -.4px   0   0 #000000,
    .4px   0   0 #000000,
    -.4px -.4px 0 #000000,
    .4px -.4px 0 #000000,
    -.4px  .4px 0 #000000,
    .4px  .4px 0 #000000,
    -.4px -.4px 0 #000000,
    .4px -.4px 0 #000000,
    -.4px  .4px 0 #000000,
    .4px  .4px 0 #000000;
}

@media (min-width: 768px) {
    section.front_content > .front_nav_menu nav.front_nav_menu_content > ul > li > a .underline, section.front_content > .front_nav_menu nav.front_nav_menu_content > ul > li > a .sub_underline {
        display: inline-block;
        position: relative;
        left: -700%;
        width: 101%;
        height: 1px;
        background-color: #eac15a;
        -webkit-transition: left ease-out .5s;
        -o-transition: left ease-out .5s;
        transition: left ease-out .5s;
        margin-top: .7rem;
        margin-bottom: 1.6rem;
    }
}

section.front_content > .front_nav_menu nav.front_nav_menu_content > ul > li > a:hover {
    color: #fff;
}

section.front_content > .front_nav_menu nav.front_nav_menu_content > ul > li > a .underline {
    margin: 5px 0 0;
    height: 2px;
    -webkit-box-shadow: 0 0 0 .5px #000;
    box-shadow: 0 0 0 .5px #000;
    background-color: #fff;
}