@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

*:focus {
    outline: none;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border-style: none;
    max-width: 100%;
}

form fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

input, textarea, select {
    vertical-align: middle;
    color: #000;
    padding: 0;
    resize: none;
}

input, select {
    vertical-align: middle;
}

input::-webkit-input-placeholder {
    color: #ebedec;
}

input:focus::-webkit-input-placeholder {
    color: #ebedec;
}

.slick-slider {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

@font-face {
    font-family: 'Lora';
    src: url("../fonts/Lora-Regular.woff2") format("woff2"), url("../fonts/Lora-Regular.woff") format("woff"), url("../fonts/Lora-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

div.mobile_front_wrapper div.interactive_studio, div.mobile_front_wrapper div.interactive_school {
    position: absolute;
    z-index: 5;
    background: rgba(255, 255, 255, 0.5);
    width: 350px;
    height: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

div.mobile_front_wrapper div.interactive_studio .interactive_school_inner, div.mobile_front_wrapper div.interactive_school .interactive_school_inner, div.mobile_front_wrapper div.interactive_studio .interactive_studio_inner, div.mobile_front_wrapper div.interactive_school .interactive_studio_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

div.mobile_front_wrapper div.interactive_studio .interactive_school_inner a.direction_item, div.mobile_front_wrapper div.interactive_school .interactive_school_inner a.direction_item, div.mobile_front_wrapper div.interactive_studio .interactive_studio_inner a.direction_item, div.mobile_front_wrapper div.interactive_school .interactive_studio_inner a.direction_item {
    display: inline-block;
    position: relative;
    left: -10%;
    text-decoration: none;
    font: bold 1.2rem 'Lora';
    color: #fff;
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

@media (min-width: 1024px) {
    div.mobile_front_wrapper div.interactive_studio .interactive_school_inner a.direction_item:hover, div.mobile_front_wrapper div.interactive_school .interactive_school_inner a.direction_item:hover, div.mobile_front_wrapper div.interactive_studio .interactive_studio_inner a.direction_item:hover, div.mobile_front_wrapper div.interactive_school .interactive_studio_inner a.direction_item:hover {
        padding: 3px 10px;
        border-radius: 100px;
        color: #FFE15D;
    }
}

div.mobile_front_wrapper div.interactive_studio .interactive_school_inner a.direction_item > p, div.mobile_front_wrapper div.interactive_school .interactive_school_inner a.direction_item > p, div.mobile_front_wrapper div.interactive_studio .interactive_studio_inner a.direction_item > p, div.mobile_front_wrapper div.interactive_school .interactive_studio_inner a.direction_item > p {
    display: inline-block;
    line-height: 1;
    text-shadow: -0   -1px 0 #000000,
    0   -1px 0 #000000,
    -0    1px 0 #000000,
    0    1px 0 #000000,
    -1px -0   0 #000000,
    1px -0   0 #000000,
    -1px  0   0 #000000,
    1px  0   0 #000000,
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px  1px 0 #000000,
    1px  1px 0 #000000,
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px  1px 0 #000000,
    1px  1px 0 #000000;
}

div.mobile_front_wrapper div.interactive_studio .interactive_school_inner a.direction_item > hr, div.mobile_front_wrapper div.interactive_school .interactive_school_inner a.direction_item > hr, div.mobile_front_wrapper div.interactive_studio .interactive_studio_inner a.direction_item > hr, div.mobile_front_wrapper div.interactive_school .interactive_studio_inner a.direction_item > hr {
    background: #eac15a;
    border: 0;
    height: 2.2px;
    -webkit-box-shadow: 0 0 0 .7px #000;
    box-shadow: 0 0 0 .7px #000;
    margin-top: 5px;
}

#wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    font: 400 1rem/1.5 'Lora',serif;
}

@media (min-width: 1600px) {
    #wrapper {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0 10% !important;
    }
}

#main {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0 !important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1140px;
    }
}

.separator {
    border: 0;
    height: 2px;
    margin: 3rem 0;
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#eac15a), to(transparent));
    background-image: -o-linear-gradient(left, transparent, #eac15a, transparent);
    background-image: linear-gradient(to right, transparent, #eac15a, transparent);
}

div.mobile_front_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

div.mobile_front_wrapper section.mobile_front_menu {
    position: relative;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 7vh;
    background-color: #000;
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin: 0;
    width: 100%;
    padding: 0;
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu .logo_and_icons_wrapper {
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    z-index: 9999;
    width: 100%;
    padding: 1.5% 5%;
    margin: 0;
    height: 100%;
    -webkit-filter: brightness(130%) contrast(120%);
    filter: brightness(130%) contrast(120%);
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu .logo_and_icons_wrapper > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu .logo_and_icons_wrapper > a .link_about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu .logo_and_icons_wrapper > a .link_about p.link_about_text {
    color: #fff;
    font: 1.1rem 'Lora';
}

@media (max-width: 316px) {
    div.mobile_front_wrapper section.mobile_front_menu .head_menu .logo_and_icons_wrapper > a .link_about p.link_about_text {
        font-size: .9rem;
    }
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu .logo_and_icons_wrapper > a .link_about .link_about_icons {
    position: relative;
    height: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 1rem;
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu .logo_and_icons_wrapper > a .link_about .link_about_icons > span {
    display: block;
    position: relative;
    left: 0;
    height: 2px;
    width: 25px;
    background: #fff;
    border-radius: 10px;
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu .logo_and_icons_wrapper .logo {
    margin: .15rem 0 0 0 !important;
    max-width: 90%;
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu .logo_and_icons_wrapper .logo > a .logo_image {
    width: auto;
    height: 50px;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-filter: contrast(150%);
    filter: contrast(150%);
}

@media (max-width: 316px) {
    div.mobile_front_wrapper section.mobile_front_menu .head_menu .logo_and_icons_wrapper .logo > a .logo_image {
        height: 37px;
    }
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu .logo_and_icons_wrapper .head_menu_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu .logo_and_icons_wrapper .head_menu_icon .head_menu_icon_content {
    position: relative;
    height: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: 1rem;
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu .logo_and_icons_wrapper .head_menu_icon .head_menu_icon_content > span {
    display: block;
    position: relative;
    left: 0;
    height: 2px;
    width: 25px;
    background: #fff;
    border-radius: 10px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu .logo_and_icons_wrapper .head_menu_icon .head_menu_icon_content > span:nth-child(3) {
    position: absolute;
    top: calc(50% - 1px);
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu .logo_and_icons_wrapper .head_menu_icon p.head_menu_icon_text {
    color: #fff;
    font: 1.1rem 'Lora';
}

@media (max-width: 316px) {
    div.mobile_front_wrapper section.mobile_front_menu .head_menu .logo_and_icons_wrapper .head_menu_icon p.head_menu_icon_text {
        font-size: .9rem;
    }
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu nav.nav_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    z-index: 999;
    top: -1000%;
    width: 100%;
    -webkit-transition: top 1.2s ease-out;
    -o-transition: top 1.2s ease-out;
    transition: top 1.2s ease-out;
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu nav.nav_menu > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin: 5.5rem 0 0 3rem;
}

@media (max-width: 319px) {
    div.mobile_front_wrapper section.mobile_front_menu .head_menu nav.nav_menu > ul {
        margin-left: 2rem;
    }
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu nav.nav_menu > ul > li.nav_link {
    position: relative;
    padding: 0 1.03rem;
    height: 40%;
}

@media (min-width: 425px) and (max-width: 1024px) {
    div.mobile_front_wrapper section.mobile_front_menu .head_menu nav.nav_menu > ul > li.nav_link {
        margin-left: 33%;
    }
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu nav.nav_menu > ul > li.nav_link > a {
    overflow: hidden;
    position: relative;
    font: 1.25rem 'Lora';
    color: #fff;
    opacity: 1 !important;
    margin: 0 0 1.5rem;
    padding-bottom: 8px;
    display: inline-block;
    border-bottom: 1.5px solid #eac15a;
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu nav.nav_menu > ul > li.nav_link > a .nav_link_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: left;
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu nav.nav_menu > ul > li.nav_link > a .nav_link_wrapper .nav_link_pin {
    margin: 0;
    margin-left: 2rem;
    -webkit-box-shadow: 0 0 10px #fff inset;
    box-shadow: 0 0 10px #fff inset;
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu nav.nav_menu > ul > li.nav_link > a .nav_link_wrapper .arrow_state_change span.nav_link_arrow_left {
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(-45deg) !important;
    -ms-transform: rotate(-45deg) !important;
    transform: rotate(-45deg) !important;
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu nav.nav_menu > ul > li.nav_link > a .nav_link_wrapper .arrow_state_change span.nav_link_arrow_right {
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
}

@media (min-width: 1024px) {
    div.mobile_front_wrapper section.mobile_front_menu .head_menu nav.nav_menu > ul > li.nav_link > a .underline, div.mobile_front_wrapper section.mobile_front_menu .head_menu nav.nav_menu > ul > li.nav_link > a .sub_underline {
        display: inline-block;
        position: relative;
        left: -700%;
        width: 101%;
        height: 1px;
        background-color: #eac15a;
        -webkit-transition: left ease-out .5s;
        -o-transition: left ease-out .5s;
        transition: left ease-out .5s;
        margin-top: .7rem;
        margin-bottom: 1.6rem;
    }
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu nav.nav_menu > ul > li.nav_link ul.sub-menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    z-index: 15;
    padding: 1rem .9rem 0 1.5rem;
    font: normal italic 1.15rem/.9 'Lora';
    width: auto;
    margin: 0 0 1.5rem 1.25rem;
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu nav.nav_menu > ul > li.nav_link ul.sub-menu li.nav_link_sub_menu_item {
    overflow: hidden;
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu nav.nav_menu > ul > li.nav_link ul.sub-menu li.nav_link_sub_menu_item > a {
    display: inline-block;
    margin-bottom: .7rem;
    padding-bottom: 7px;
    color: #fff;
    opacity: 1 !important;
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu nav.nav_menu > ul > li.nav_link ul.sub-menu li.nav_link_sub_menu_item > a:hover p {
    color: #eac15a !important;
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu nav.nav_menu > ul > li.nav_link ul.sub-menu li.nav_link_sub_menu_item > a:hover .sub_underline {
    left: 8%;
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu nav.nav_menu > ul > li.nav_link ul.sub-menu li.nav_link_sub_menu_item > a > p {
    white-space: nowrap;
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu nav.nav_menu > ul > li.nav_link ul.sub-menu li.nav_link_sub_menu_item > a > p::before {
    content: '•';
    color: #eac15a;
    margin-right: 12px;
}

div.mobile_front_wrapper section.mobile_front_menu .head_menu nav.nav_menu > ul > li.nav_link ul.sub-menu li.nav_link_sub_menu_item > a .sub_underline {
    margin: 0;
}

div.mobile_front_wrapper section.mobile_front_menu .menu_current_item {
    color: #eac15a !important;
}

div.mobile_front_wrapper section.mobile_front_menu .mobile_menu_open nav.nav_menu {
    top: 0;
}

div.mobile_front_wrapper section.mobile_front_menu .mobile_menu_open .head_menu_icon .head_menu_icon_content > span:nth-child(1) {
    left: 620%;
}

div.mobile_front_wrapper section.mobile_front_menu .mobile_menu_open .head_menu_icon .head_menu_icon_content > span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

div.mobile_front_wrapper section.mobile_front_menu .mobile_menu_open .head_menu_icon .head_menu_icon_content > span:nth-child(3) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

div.mobile_front_wrapper section.mobile_front_menu .mobile_menu_open .head_menu_icon .head_menu_icon_content > span:nth-child(4) {
    left: 620%;
}

div.mobile_front_wrapper section.mobile_front_slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 93vh;
    z-index: 1;
}

div.mobile_front_wrapper section.mobile_front_slider .mobile_front_slider_center {
    width: 100%;
    height: 100vh;
}

div.mobile_front_wrapper section.mobile_front_slider .mobile_front_slider_center .slick-list.draggable {
    width: 100%;
    height: 100vh;
}

div.mobile_front_wrapper section.mobile_front_slider .mobile_front_slider_center .slick-list.draggable div .slick-slide {
    height: 100vh !important;
}

div.mobile_front_wrapper section.mobile_front_slider .mobile_front_slider_center .slick-list.draggable div .slick-slide img {
    width: 100% !important;
    height: 100vh !important;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-filter: brightness(92%);
    filter: brightness(92%);
}

div.mobile_front_wrapper section.mobile_front_slider .mobile_front_slider_center .slick-list.draggable div .slick-slide.slick-slide.slick-current.slick-active img {
    -webkit-animation: slider_scale 8000ms  linear infinite;
    animation: slider_scale 8000ms  linear infinite;
}

@-webkit-keyframes slider_scale {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
}

@keyframes slider_scale {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
}

div.mobile_front_wrapper div.interactive_studio {
    left: -100%;
    width: 50%;
    height: 86%;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    -webkit-animation: interactive_studio_move 2s ease-in-out .3s forwards;
    animation: interactive_studio_move 2s ease-in-out .3s forwards;
}

@-webkit-keyframes interactive_studio_move {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

@keyframes interactive_studio_move {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

div.mobile_front_wrapper div.interactive_studio .interactive_studio_inner a.direction_item {
    display: inline-block;
    text-align: center;
    font-size: 1rem !important;
    left: -10%;
}

@media (min-width: 768px) {
    div.mobile_front_wrapper div.interactive_studio .interactive_studio_inner a.direction_item {
        font-size: 1.9rem !important;
    }
}

div.mobile_front_wrapper div.interactive_studio .interactive_studio_inner a.direction_item > p {
    display: inline;
    -webkit-filter: brightness(150%);
    filter: brightness(150%);
}

div.mobile_front_wrapper div.interactive_studio .interactive_studio_inner a.direction_item > hr {
    height: 2px;
    -webkit-filter: brightness(150%);
    filter: brightness(150%);
    background-color: #ac7b00;
}

div.mobile_front_wrapper div.interactive_school {
    right: -100%;
    width: 50%;
    height: 86%;
    -webkit-clip-path: polygon(100% 0, 0 50%, 100% 100%);
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    -webkit-animation: interactive_school_move 2s ease-in-out .3s forwards;
    animation: interactive_school_move 2s ease-in-out .3s forwards;
}

@-webkit-keyframes interactive_school_move {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}

@keyframes interactive_school_move {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}

div.mobile_front_wrapper div.interactive_school .interactive_school_inner a.direction_item {
    display: inline-block;
    text-align: center;
    font-size: 1rem !important;
    left: 10%;
}

@media (min-width: 768px) {
    div.mobile_front_wrapper div.interactive_school .interactive_school_inner a.direction_item {
        font-size: 1.9rem !important;
    }
}

div.mobile_front_wrapper div.interactive_school .interactive_school_inner a.direction_item > p {
    display: inline;
    -webkit-filter: brightness(150%);
    filter: brightness(150%);
}

div.mobile_front_wrapper div.interactive_school .interactive_school_inner a.direction_item > hr {
    height: 2px;
    -webkit-filter: brightness(150%);
    filter: brightness(150%);
    background-color: #ac7b00;
}

.nav_link_wrapper .nav_link_pin {
    position: relative;
    z-index: 10;
    cursor: pointer;
    margin: 12px 20px 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 10px 3px #eac15a;
    flex-shrink: 0;
}

.nav_link_pin span.arrow-text-left, .nav_link_pin span.arrow-text-right,
.nav_link_pin span.nav_link_arrow_left, .nav_link_pin span.nav_link_arrow_right {
    position: absolute;
    top: 48%;
    width: 10px;
    height: 1.3px;
    display: block;
    border-radius: 20px;
    transition: all 1s cubic-bezier(0.25, 1.7, 0.35, 0.8);
}

.nav_link_pin span.arrow-text-left, .nav_link_pin span.nav_link_arrow_left {
    left: 22%;
    transform: rotate(45deg);
}

.nav_link_pin span.arrow-text-right, .nav_link_pin span.nav_link_arrow_right {
    left: 45%;
    transform: rotate(-45deg);
}

.nav_link_pin span.arrow-text-left, .nav_link_pin span.arrow-text-right {
    background-color: #eac15a;
}

.nav_link_pin span.nav_link_arrow_left, .nav_link_pin span.nav_link_arrow_right {
    background-color: #fff;
}